/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*Main colors of the logo #FF4C00 & #00AE68*/
body {
	font-family: "Ubuntu", Sans-serif;
	color: black;
	background: #f8f8f8;
}
.container {
	width: 100%;
	height: 100%;
	margin: auto;
}
.content {
	width: 700px;
	height: 100%;
	margin: 0 auto;
}
.group_info {
	width: 600px;
	margin: 0 auto;
}
.nav {
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
}
form {
	background-color: #f8f8f8;
}
a {
	color: black;
	text-decoration: none;
	text-transform: none;
}
a:hover {
	text-decoration: none;
	text-transform: none;
	color: #ff4c00;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
label {
	position: relative;
}
input {
	border-radius: 5px;
	position: relative;
}
img.profile_pic {
	border-radius: 100px;
}
p.quote {
	text-align: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> 02713911dc69c136141b72b9bf476042e855b6b7
