/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*Main colors of the logo #FF4C00 & #00AE68*/
html {

<<<<<<< HEAD
h1 {
	background-image:url(app/assets/images/logo1.jpg);
}
h1:hover {
	background-image:url(app/assets/images/logo2.jpg);
=======
}
body {
	background-color: #C8C1BA;
	background-size: cover;
	max-width: 960px;
	margin: 20px;
>>>>>>> c7bb054e7048fcc892d0f640fc0ba81926c783fb
}
form {
	background-color: #899290;
}
label {
	position: relative;
}
input {
	border-radius: 5px;
	position: relative;
}
